@import '~@fluentui/react/dist/sass/References.scss';

.inventoryLinkContainer {
  background-color: #E7E8E8;
  padding: 5px 10px 10px 10px;
  font-family: "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif;
  min-width: 80vw;
}

.inventoryTitle {
  font-size: 22px;
  margin-bottom: 5px;
  text-align: center;
}

div.inventoryBody {
  background-color: #FFF;
  padding: 10px;
  display: block;
}






