@import '~@fluentui/react/dist/sass/References.scss';

div.ResultContainer {
    background-color: #E7E8E8;
    margin-top: 10px;
    padding: 5px 10px 10px 10px;
}

h2.ResultContainerHeading {
    background-color: #E7E8E8;
    color: #262626;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
}
.inlineBlock{
  display: inline;
}
table.ResultsTable {
    width: 100%;
    background-color: #FFF;
    table-layout: auto;
}

div.Results {
    padding: 10px;
    background-color: #FFF;
    overflow: auto;
    max-height: 90vh;
}
div.noRecords {
    font-size: 14px;
    color: #888383;
  }
  
  th,
  td {
    border: 1px solid grey;
    padding: 10px;
    overflow-wrap: break-word;
  }
.sitesResultsTableTh{
  position: relative;
  text-align: left;
  cursor: pointer;
}
.sort {
    float: right;
    font-size: 14px;
}
.dvSort {
  position: absolute;
  display: block;
  background-color: white;
  left: 7px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.47);
}
ul.sortOptions {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
input.btnDisableUser {
  background-color: rgb(72, 61, 139);
  border: none;
  color: white;
  cursor: pointer;
  padding: 7px 10px;
  font-size: 11px;
}
.fontBold{
  font-weight: bold;
}
div.allPage{
  position:'fixed';
  top:0;
  left:0;
  right:0;
  bottom:0;
}